<launch>
    <node pkg="geonav_transform" type="geonav_transform_node" name="geonav_transform_node" clear_params="true" output="screen">
        <param name="frequency" value="10.0" type="double"/>
    </node>
    <node pkg="nav_odom_publisher" type="nav_odom_publisher.py" name="nav_odom_publisher" />
</launch>